/***************************************/
/*  BELOW 1344PX (SMALLER DESKTOPS)   */
/*************************************/

@media (min-width: 81.25em) {
  .hero-img {
    transform: translateY(-1rem) rotate(15deg);
  }

}

/***************************************/
/*  BELOW 1344PX (SMALLER DESKTOPS)   */
/*************************************/

@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
    max-width: 35rem;
  }

  /* 2cols */
}

/***************************************/
/*  BELOW 1200PX (Landscape Tablets)   */
/*************************************/


@media (max-width: 75em) {

  /* 9px * 16px */
  html {
    font-size: 56.25%;
  }



  .heading-secondary h2 {
    font-size: 3.6rem;
  }

  .heading-secondary p {
    font-size: 1.8rem;
  }

  .features,
  .features-box,
  .pricing-grid {
    gap: 2.4rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  /* gap */
}

/***************************************/
/*  BELOW 960 (Tablets)   */
/*************************************/


@media (max-width: 60em) {

  html {
    /* 8px * 16px */
    font-size: 50%;
  }


  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 0;
  }

  .hero .heading-primary {
    max-width: 55rem;
  }

  .hero-text-box {
    margin: 0 auto;
    padding-bottom: 0;
  }

  .hero-img-box {
    text-align: right;
  }

  .hero-img {
    max-width: 30%;
  }


  .input-botton {
    max-width: 100%;
  }


  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .wherever-content {
    grid-template-columns: auto;
    gap: 4rem;
  }

  .wherever-img-box {
    text-align: center;
  }

  .wherever-section .heading-secondary {
    margin-bottom: 2.4rem;
  }

  .wherever-img-box img {
    width: 40%;
  }

  .active-content {
    grid-template-columns: repeat(2, 45%);
    gap: 3.6rem;
  }

  .active-col {
    box-shadow: 0px 1rem 2rem rgb(255 62 101 / 10%);
  }

  .about .img-box {
    display: none;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about .text-box {
    padding: 0 2.4rem;
  }

  .about .text-head {
    grid-column: 1/-1;
    justify-content: center;
    margin: 0 auto;
  }

  .about .text-head span {
    display: block;
    text-align: center;
  }

  .about .make {
    text-align: center;
  }

  .about .jolly {
    max-width: 100%;
    text-align: center;
    padding: 0 2rem;
  }

  .about .text-head br {
    display: none;
  }

  .about .check-text {
    justify-content: center;
  }

  .about .text-group {
    max-width: 100%;
  }

  .view {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 8.4rem;
  }


  .viedo-caption {
    margin: 0;
  }

  .view-images .image-box {
    text-align: center;
  }

  .view-images .image-box img {
    width: 100%;
    height: 100%;
  }

  .image-icons {
    align-self: center;
    display: none;
  }

  .sponsers {
    max-width: 60rem;
  }

  .testimonial {
    background-size: cover;
  }



  .footer .container {
    flex-direction: column;
    gap: 2rem;
  }

  .pricing-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }


  .plan-box,
  .features-box {
    padding: 2.4rem 3.2rem;
  }



  /* mobile  */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: var(--transtion-med);
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }

  .icon-nav {
    width: 2rem;
    height: 2rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    position: relative;
    z-index: 99;
  }


  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

}

/***************************************/
/*  BELOW 700px (Smaller tablets)   */
/*************************************/


@media (max-width: 44em) {

  /* 16 / 7 */

  /* 
element.style {
}
.plan-box a:link, .plan-box a:visited  */

  .flex-between {
    gap: 4.8rem;
  }


  .btn-view a:link,
  .btn-view a:visited,
  .viedo-caption a:link,
  .viedo-caption a:visited,
  .plan-box a:link,
  .plan-box a:visited {
    padding: 1.5rem 2.4rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    text-align: center;
  }

  .footer .logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .get-in-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-get {
    justify-content: center;
  }

  .footer-get span {
    max-width: 20rem;
    line-height: 1.2;
  }

  .testimonial {
    grid-template-columns: 1fr;
    padding: 6.4rem 2.4rem;
  }

  .testimonial-right {
    max-width: 100%;
  }

  .testimonial-left {
    text-align: center;
  }

  .text-testimonial {
    text-align: center;
    line-height: 1.6;
  }

  .testimonial-icons {
    display: none;
  }

  .info-next {
    justify-content: center;
  }

  .wherever-img-box img {
    width: 50%;
  }
}


/***************************************/
/*  BELOW 560px (Phones tablets)   */
/*************************************/

@media (max-width: 35em) {

  .check-text {
    grid-column: 1/-1;
    justify-content: flex-start !important;
  }

  .text-group p {
    max-width: 100%;
  }

  .about .text-head h3 {
    font-size: 3.6rem;
    padding: 1.2rem 0;
  }


  .pricing-grid {
    grid-template-columns: 1fr;
    gap: 3.6rem;
  }


  .footer .container {
    grid-template-columns: 1fr;
  }

  .sponsers-section {
    padding: 9.6rem 0 9.6rem;
  }

  .sponsers {
    gap: 2.4rem;
    min-width: 40rem;
    max-width: 45rem;
  }


  .flex-between {
    gap: 1.4rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 4.6rem;
  }


  .features {
    grid-template-columns: 1fr;
  }

  .features-box {
    align-items: center;
    text-align: center;
    gap: 3.6rem;
  }



  .wherever-img-box img {
    width: 70%;
  }


  .active-content {
    grid-template-columns: repeat(1, 90%);
    gap: 3.6rem;
  }

  .active-col {
    box-shadow: 0px 1rem 2rem rgb(255 62 101 / 10%);
  }

  .hero-text-box {
    padding: 4.6rem;
  }


  .dwnand {
    margin-right: 0;
  }


  .footer-get span {
    max-width: 100%;
  }

  .footer .container {
    row-gap: 4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .dwnand,
  .dwnos {
    border-width: 1px;
  }

}


@media (max-width: 23.75em) {

  .about .text-head h3 {
    font-size: 3rem;
    padding: 1.2rem 0;
  }

  .about .jolly {
    font-size: 1.6rem;
    padding: 0;
  }

  .dwnos,
  .dwnand {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }


  .icon-dwnos,
  .icon-dwnand {
    margin-right: 0.5rem;
  }
}