/***[ SECICON ]****/
/*   HEADER  */
/*****[01]*****/

header {
  background-color: var(--section-background-color);
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  gap: 1rem;
}

.log {
  flex-basis: 20;
  height: 2.4rem;
}

.main-nav {
  flex-basis: 60%;
}

.btn-nav {
  flex-basis: 10%;
}

.logo img {
  height: 3rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.main-nav-list li {
  display: flex;
  align-items: center;
}

.icon-nav {
  width: 1.5rem;
  height: 1.5rem;
  transition: var(--main-transition);
}

.nav-link:link,
.nav-link:visited,
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-font-color);
  white-space: nowrap;
  transition: var(--main-transition);
}

.btn-link:link,
.btn-link:visited {
  color: var(--color-white);
  padding: 1rem 2.5rem;
  background-color: var(--main--color);
  border-radius: 5rem;
  color: var(--color-white);
}


/***[ HOVER ]****/
/*   HEADER  */
/*****[01]*****/

.nav-link:hover,
.nav-link:active {
  color: var(--main--color);
}

.btn-link:hover,
.btn-link:active {
  background-color: #e6385c;
}

.nav-link:hover .icon-nav {
  -webkit-animation: updown .3s alternate infinite;
  animation: updown .3s alternate infinite;
}

@-webkit-keyframes updown {
  to {
    transform: translateY(2px);
  }
}

@keyframes updown {
  to {
    transform: translateY(2px);
  }
}

/***[ SECTION ]****/
/*    HERO     */
/*****[02]*****/


.hero {
  display: grid;
  max-width: 130rem;
  padding: 0 0 0 3.2rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.hero-scetion {
  padding-top: var(--section-padding);
  background-color: var(--section-background-color);
  overflow: hidden;

}


.hero-text-box {
  align-items: start;
  padding-bottom: 9.6rem;
}



.heading-primary {
  font-weight: normal;
  font-size: 6.2rem;
  line-height: 1.05;
  color: var(--main-font-color);
  max-width: 55rem;
  margin-bottom: 2rem;
}

.heading-primary strong {
  letter-spacing: -0.5px;
  font-weight: 700;
}

.hero-img-box {
  align-self: end;
}

.hero-img {
  width: 100%;
}

.label-find {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5;
}

.input-botton {
  background-color: var(--color-white);
  padding: 1.5rem 1rem;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: -2px 0 0 var(--main--color), 0 25px 20px #d6d9dd;
  max-width: 65%;
  margin: 3rem 0;
  transition: var(--main-transition);
}

.find {
  border: none;
  outline: none;
  flex-grow: 2;
  padding: 0 1rem;
  caret-color: #b7b8c2;
  color: #3e415c;

}

.email-icon {
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin-left: 1rem;
  color: #b7b8c2;
}

.in-submit {
  background: none;
  border: none;
  color: var(--main--color);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.feedback-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customers-img-box {
  display: flex;
}

.customers-img-box img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-white);
  margin-right: -1.6rem;
  position: relative;

}

.customers-img-box img:nth-child(1) {
  z-index: 4;
}

.customers-img-box img:nth-child(2) {
  z-index: 3;
}

.customers-img-box img:nth-child(3) {
  z-index: 2;
}

.customers-img-box img:nth-child(4) {
  z-index: 1;
}

.customers-img-box img:last-child {
  margin: 0;
}

.feadback-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.feedback-text p {
  color: var(--font-color);
}

.feedback-text strong {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-font-color);
}

/***[ HOVER ]****/
/*     HERO    */
/*****[02]*****/

.input-botton:hover {
  transform: translateY(-2px);
  box-shadow: -2px 0 0 #e6385c, 0 2.5rem 4rem rgba(214, 217, 221, 0.95);
}


@media (min-width: 1300px) {
  .hero-img {
    transform: translateY(-1rem) rotate(15deg);
  }

}


/***[ SECTION ]****/
/*     HOW     */
/*****[03]*****/



.how-section {
  padding: 9.6rem 0;
}


.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-view a:link,
.btn-view a:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  color: inherit;
  transition: all 0.5s;
  border: 2px solid var(--section-background-color);
  cursor: pointer;
}

.btn-view a:hover,
.btn-view a:active {
  background-color: var(--main--color);
  color: var(--color-white);
  border-color: var(--main--color);
}

.features {
  gap: 2.4rem;
}

.features-box {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: 3rem;
  border: 2px solid var(--section-background-color);
  padding: 4rem;
  position: relative;
  overflow: hidden;
}

.feature-icon {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: #2facfc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.features-box:nth-child(2) .feature-icon,
.features-box:nth-child(2)::before {
  background-color: #ea4d89;
}

.features-box:nth-child(3) .feature-icon,
.features-box:nth-child(3)::before {
  background-color: #3679ff;
}

.features-box:nth-child(4) .feature-icon,
.features-box:nth-child(4)::before {
  background-color: #f67842;
}

.features-box:nth-child(5) .feature-icon,
.features-box:nth-child(5)::before {
  background-color: #6b88f7;
}

.features-box:nth-child(6) .feature-icon,
.features-box:nth-child(6)::before {
  background-color: #3bb094;
}


.feature-icon ion-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.feature-hdtext {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: -2rem;
}

.feature-ptext {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--font-color);
}

.feature-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 500;
}

/***[ HOVER ]****/
/*     HOW    */
/*****[03]*****/

.features-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #2facfc;
  transition: var(--main-transition);
}

.features-box:hover::before {
  width: 100%;
}



/***[ SECTION ]****/
/*    ABOUT     */
/*****[04]*****/
.about-section {
  margin-bottom: 9.6rem;
}

.about {
  background-color: var(--section-background-color);
  height: 45rem;
  overflow: hidden;
}

.text-box {
  grid-template-rows: 2;
  height: 45rem;
}

.text-head {
  grid-column: 1 / -1;
  align-self: center;
}


.text-head span {
  color: var(--main--color);
  font-size: 1.5rem;
  font-weight: 700;
}

.text-head h3 {
  padding: 1rem 0;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.1;
}

.text-head p {
  font-size: 1.8rem;
  color: var(--font-color);
  max-width: 45rem;
  line-height: 1.5;
}

.check-text {
  display: flex;
  gap: 1rem;
}

.about-icon {
  width: 2rem;
  height: 2rem;
  padding: .3rem;
  background-color: #32c36a;
  border-radius: 50%;
  color: var(--color-white);
}

.text-group h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-group p {
  font-size: 1.5rem;
  max-width: 23rem;
  line-height: 1.5;
  color: var(--font-color);
  max-width: 20rem;
}



/***[ SECTION ]****/
/*    Whereve   */
/*****[04]*****/



.wherever {
  padding: 8rem 0 0;
  margin-bottom: 9.6rem;
  background-color: var(--main-font-color);
  color: var(--color-white);
}

.wherever .heading-secondary {
  text-align: center;
}

.wherever .heading-secondary h2 {
  line-height: 1.2;
}

.wherever .heading-secondary p {
  color: var(--color-white);
  font-size: 1.5rem;
}

.wherever-content {
  padding: 4.5rem 0 9.6rem;
  align-items: center;
}

.wherever-text-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-self: center;
}

.wherver-text-col {
  padding: 2rem 4.8rem;
  box-shadow: 0 0 1px var(--section-background-color);
  position: relative;
}

.wherver-text-col::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 1.5rem;
  top: 3rem;
  background-color: var(--main--color);
  box-shadow: 0px 0px 0 0.5rem rgba(255, 62, 101, 0.1);
  border-radius: 50%;
  /* transform: translate(-50%, -50%); */
}

.wherver-text-col:nth-child(2):before {
  background-color: #2eacfc;
  box-shadow: 0px 0px 0 0.5rem rgba(46, 173, 252, 0.1);
}

.wherver-text-col:nth-child(3):before {
  background-color: #33c956;
  box-shadow: 0px 0px 0 0.5rem rgba(51, 201, 86, 0.1);
}

.wherver-text-col h3 {
  font-size: 2rem;
  line-height: 2;
}

.wherver-text-col p {
  font-size: 1.4rem;
  color: #9294a3;
}

.wherever-img-box img {
  width: 80%;
}


/***[ SECTION ]****/
/*    Active   */
/*****[05]*****/

.active {
  padding-bottom: var(--section-padding);
}

.active-content {
  grid-template-columns: repeat(4, 20%);
  justify-content: space-around;
  align-items: center;
}

.active-col {
  box-shadow: 0px 2.4rem 4.2rem rgba(255, 62, 101, 0.095);
  width: 90%;
  padding: 5rem 4rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.active-col:nth-child(3) {
  box-shadow: 0px 2.4rem 4.2rem rgba(255, 86, 34, 0.090);

}

.active-col h3 {
  font-size: 3.6rem;
  font-weight: 400;
}

.active-col h3 strong {
  font-weight: 700;
}

.active-col p {
  font-size: 1.6rem;
}


.view {
  margin-top: 9.6rem;
  grid-template-columns: minmax(68%, 1fr) minmax(30%, 1fr);
  gap: 2.4rem;
}

.view .video-box img,
.view .image-box img {
  width: 100%;
}

.video-box {
  position: relative;
}

.video-box span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
}

.video-box span::before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--section-background-color) var(--section-background-color) transparent var(--section-background-color);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  /* background-color: red; */
}

.video-box span::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: 1px solid;
  border-color: transparent transparent var(--section-background-color) transparent;
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  /* background-color: red; */

}


.video-box .play-icon {
  width: 2rem;
  height: 2rem;
  color: var(--main--color);
}

.view-viedo,
.view-images {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.viedo-caption {
  margin: 0 auto;
}

.viedo-caption h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
}

.viedo-caption p {
  font-size: 1.6rem;
  color: var(--font-color);
  line-height: 1.5;
  max-width: 67rem;
}


.viedo-caption a:link,
.viedo-caption a:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  color: inherit;
  transition: all 0.5s;
  border: 2px solid var(--section-background-color);
  cursor: pointer;
}



.get-started {
  margin-top: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.image-box img {
  height: 110%;
}

.image-icons {
  align-self: flex-end;
  margin-top: 4rem;
}

.image-icons ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
  color: var(--font-color);
  border: 2px solid var(--section-background-color);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}


/***[ HOVER ]****/
/*    Active   */
/*****[05]*****/


.get-started:hover a:link,
.get-started:hover a:visited {
  background-color: var(--main--color);
  color: var(--color-white);
  border-color: var(--main--color);
}


.video-box span:hover::before {
  -webkit-animation: play-B- 0.5s linear infinite;
  animation: play-B- 0.5s linear infinite;
}

.video-box span:hover::after {
  -webkit-animation: play-N- 0.5s linear infinite;
  animation: play-N- 0.5s linear infinite;
}


.image-icons ion-icon:hover {
  color: #0e1133;
}


@-webkit-keyframes play-N- {
  to {
    transform: rotate(-360deg);

  }
}

@keyframes play-N- {
  to {
    transform: rotate(-360deg);

  }
}

@-webkit-keyframes play-B- {
  to {
    transform: rotate(360deg);

  }
}

@keyframes play-B- {
  to {
    transform: rotate(360deg);

  }
}


/***[ SECTION ]****/
/*   DOWNLOAD   */
/*****[05]*****/

.download {
  background-color: var(--section-background-color);
  padding: 9.6rem 0;
}


.download-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.download-text span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--main--color);
}

.download-text h3 {
  font-size: 4.4rem;
  font-weight: 700;

}

.download-text p {
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--font-color);
}

.download-btns {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}


.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  gap: .5rem;
  cursor: pointer;
  border: 2px solid var(--main-font-color);
}


.download-btn:first-child {
  background-color: var(--main-font-color);
  color: var(--color-white);
}

.download-btn:last-child {
  background-color: var(--color-white);
  color: var(--main-font-color);
}

.download-btn .ios-icon,
.download-btn .android-icon {
  width: 3rem;
  height: 3rem;
}

.download-btn p {
  font-weight: 500;
  font-size: 1.2rem;
}

.download-btn:first-child p {
  color: var(--color-white);

}

.download-btn:last-child p {
  color: var(--main-font-color);
  font-weight: 700;
}


.download-btn strong {
  display: block;
  font-size: 2rem;
  text-align: left;
  line-height: 0.8;
}